{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:prettier/recommended", "plugin:@typescript-eslint/recommended", "prettier/@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "plugins": ["@typescript-eslint", "import"],
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    // we use snakecase everywhere, It's important to harmonize casing for the entire app
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/extensions": ["warn", "never"],
    "prettier/prettier": "error",
    "@typescript-eslint/camelcase": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
